#problem {
  font-size: 5rem;
}

#winner {
  font-size: 7rem;
  color: green;
}

.incorrect {
  color: red;
}

.btn-back {
  padding: 10px;
}

h1 {
  text-decoration: underline;
}

input {
  font-size: 1rem;
}
